header{
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    justify-items:center;
    background-color: #f0f0f0;
    position: relative;
        left: 10px;
        top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 400px;
    position: relative;
        left: 10px;
        top: 3px;
    background-color: #f9f9f9;
    margin-right: 10px;
    color: red;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    border: 1px solid black;
    position: relative;
        left: 10px;
        top: 3px;
    background-color: #f9f9f9;
    margin-right: 10px;
    margin-top: 3px;
    color: orange;
}
nav a{
    text-decoration: none;

}